header{
    width: 10%;
}

.headline{
    font-size: 22px;
}

.nav{
    text-align: center;
}

.waku{
    width: 300px;
    height: 300px;
    border: 2px solid #fa5893;
}

.chiten{
    color: #fa5893
}